html,body{
    height: 100%;
}

.section-padding{
    position: relative;
}

.section-bg:after{   
     position: absolute;
    left: 0;        
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #9b59b6;
    opacity: 0.7;
}
.section-bg{
    background-image: url(img/gray-boat-on-gray-sand-beach-under-gray-cloudy-sky-122107.jpg);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 59%;
    background-size: cover;
}
.contact-form input, .contact-form textarea{
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: 17px;
    color: #333;
    border: 1px solid #fff;
}
.contact-form h2{
    color: #fff;
}
.contact-form{
    padding-top: 100px;
    padding-bottom: 100px;

}
input:focus, textarea:focus, button:focus{
    outline: none;
}
.contact-form input:focus{
    border: 1px solid #333;
}
#appoinmentInput{
    width: auto;
    padding: 15px 30px;
    color:#9b59b6; ;
    font-weight: 700;
}
.appointment-text h3{
    padding-left: 100px;
    margin-top: 100px;
}
.list-style  div ul li {
    list-style-type: none;
    margin-left: 100px;
    padding: 10px;
}
.boxed-btn{
    margin-left: 120px;
    padding: 10px;
}

.headline{
    margin-bottom: 50px;
    margin-left: 40px;
}